DRUPAL_HTTP_PORT=8088
DRUPAL_DB_NAME=owc_drupal
DRUPAL_DB_USER=owc_drupal
DRUPAL_DB_PASSWORD=replace-with-strong-secret
DRUPAL_SITE_NAME=OWC Enterprise CMS
DRUPAL_ADMIN_USER=owcadmin
DRUPAL_ADMIN_PASSWORD=replace-with-strong-admin-secret
DRUPAL_ADMIN_EMAIL=admin@owc.gov.pg
DRUPAL_TRUSTED_HOST_PATTERN=^cms\\.owc\\.gov\\.pg$
